* { padding: 0px; margin: 0px; -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { background-color: #333333; color: black; font-family: HelveticaNarrow; }
presentation { position: absolute; display: none; float: left; width: 768px; height: 1024px; background: url('../img/slide-background.png') repeat-x left bottom, white; color: inherit; overflow: hidden; z-index: 1; }
chapter { display: none; float: left; width: 768px; height: 1024px; }
scroll { float: left; width: auto; height: inherit; white-space: nowrap; }
scroll[y] { float: left; width: inherit; height: auto; white-space: nowrap; }
slide { display: block; float: left; width: 768px; height: 1024px; overflow: hidden; -webkit-transform: translate3d(0px,0px,0px); }

slide.hide { display: none; }
presentation.show, chapter.show { display: block; }
