@font-face { font-family: HelveticaNarrow; src: url('../fonts/HelveticaNarrow-Regular.ttf') format('truetype'); }
@font-face { font-family: HelveticaNarrow-Bold; src: url('../fonts/HelveticaNarrow-Bold.ttf') format('truetype'); }
@font-face { font-family: Frutiger; src: url('../fonts/FrutigerLTStd-Roman.otf') format('truetype'); }
@font-face { font-family: Frutiger-Bold; src: url('../fonts/FrutigerLTStd-Bold.ttf') format('truetype'); }
@font-face { font-family: Eurostile-Cn; src: url('../fonts/Eurostile-Cn.ttf') format('truetype'); }