@-webkit-keyframes loops {
    0% {-webkit-opacity:0 ;}
    40% {-webkit-opacity:0 ;}
    60% {-webkit-opacity:1 ;}	
    90% {-webkit-opacity:1 ;}	
    90% {-webkit-opacity:0 ;}	
}
#up footer bar { background-position: 0px -152px; }
#down footer bar { background-position: 0px -76px; }
#left footer bar { background-position: 0px -114px; }
#right footer bar { background-position: 0px -38px; }
h1 { margin: 40px 70px; font-family: 'Eurostile'; font-weight: bold; font-size: 30px; color: #ed7403; line-height: 40px; }
h2 { font-family: 'Frutiger'; font-weight: normal; font-size: 22px; color: black; }
sup {font-size: 50%;}
.clear {float: none; clear: both;}
.bottomRect{margin:15px 199px 0;position: relative;}
.bottomRect .sun{float: left;position:relative;-webkit-box-shadow:1px 1px 5px 1px rgba(0,0,0,0.3);-webkit-border-radius:10px; background:url('../img/sun1.png') 0px 8px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));border:3px solid #ed7403;border-radius:6px;width: 63px;height: 63px;margin:0 12px 0 11px;}
.bottomRect .sun:nth-of-type(2){background:url('../img/sun2.png') 5px 3px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));}
.bottomRect .sun:nth-of-type(3){background:url('../img/sun3.png') 3px 7px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));}
.bottomRect .sun:nth-of-type(4){background:url('../img/sun4.png') 19px 10px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));}
.bottomRect .sun u{display: block;background:url('../img/pill.png') 0 0 no-repeat;width:46px; height:45px;position: absolute;left:-26px;bottom: -23px;z-index: 1;-webkit-opacity:0;}
.bottomRect .sun u.s{left:-12px;z-index: 2;}
.bottomRect .sun u.f{-webkit-transition:all 300ms ease-in 2s;}
.start-animation .bottomRect .sun u.s{-webkit-animation-name:'loops';-webkit-animation-duration: 10s;-webkit-animation-delay:5s;-webkit-animation-iteration-count:infinite;}
.start-animation .bottomRect .sun u.f{-webkit-opacity:1;}