#up footer bar { background-position: 0px -152px; }
#down footer bar { background-position: 0px -76px; }
#left footer bar { background-position: 0px -114px; }
#right footer bar { background-position: 0px -38px; }