num{
	display:block;
	position: relative;
}
scale{-webkit-box-pack:justify;}
.graph-wrapper{
	width:604px;
	border:#ec7404 2px solid;
	border-radius:20px;
	margin:0 auto;
	margin-top:60px;
	position:relative;
	padding-top:47px;
	padding-bottom:66px;
}
.graph-wrapper header{
	position:absolute;
		top:-7px;
		left:20px;
	font-family:Eurostile;
	font-weight:bold;
	font-size: 18px;
	text-transform:uppercase;
	color:#ec7404;
	line-height:14px;
	height:14px;
	background:white;
}
.graph-wrapper header sup{
	vertical-align: top;
	line-height: 0;
	font-size: 50%;
}

graph{
	display:-webkit-box;
	margin:0 auto;
	position:relative;
}
graph scale{
	font-family:Gill Sans;
	font-size: 10px;
}
#up_1 graph{
	border-left:2px solid black;
	border-bottom:2px solid black;
	font-family:Gill Sans;
}
#evenDoeltreffendAlsTramadol{
	width:338px;
	height:116px;
}

.horizontal{
	position: absolute;
	height: 20px;
	left: -11px;
	right:-9px;
	bottom:-27px;
	display:-webkit-box;
}
.horizontal num{
	width: 20px;
	display: block;
	text-align: center;
	position:relative;
}
.horizontal num::before{
	content:'';
	display:block;
	height:5px;
	width:2px;
	background-color:black;
	position:absolute;
	top:-5px;
	left:50%;
	margin-left:-1px;
}

.vertical{
	position: absolute;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	height: 100%;
	-webkit-box-align: end;
}
#evenDoeltreffendAlsTramadol .vertical{
	left: -85px;
}
#evenDoeltreffendAlsTramadol .vertical num{
	display: -webkit-box;
	text-align: right;
	height: 50%;
	-webkit-box-align: center;
	width: 74px;
	-webkit-box-pack: end;
}
#evenDoeltreffendAlsTramadol .bargroup{
	position:absolute;
	left:0;
	height:100%;
	list-style:none
}
#evenDoeltreffendAlsTramadol .bargroup li{
	height:50%;
	padding:0;
	margin:0;
	position:relative;
}
#evenDoeltreffendAlsTramadol bar{
	position:absolute;
	left:0;
	top:13px;
	height:34px;
	width:60px;
	background:#868889;
}
#evenDoeltreffendAlsTramadol .bargroup li:nth-child(2) bar{
	background:#f29400;
}
#evenDoeltreffendAlsTramadol bar num{
	font-weight:bold;
	height:100%;
	line-height:34px;
	font-size: 12px;
	position: absolute;
	right: -40px;
}
#evenDoeltreffendAlsTramadol .notice{
	position: absolute;
	font-size: 11px;
	width: 260px;
	bottom: -60px;
	left: 40px;
}

#betereGiTolerantieDanTramadol{
	width:464px;
	height:293px;
}
#betereGiTolerantieDanTramadol .vertical{
	width:30px;
	left: -40px;
}
#betereGiTolerantieDanTramadol .vertical num{
	width:20px;
	height:20px;
	line-height:20px;
}
#betereGiTolerantieDanTramadol .vertical num::before{
	content:'';
	display:block;
	height:2px;
	width:5px;
	background-color:black;
	position:absolute;
	top:50%;
	right:-5px;
	margin-top:-1px;
}