#evenDoeltreffendAlsTramadol{
	width:338px;
	height:116px;
}

#evenDoeltreffendAlsTramadol .horizontal num::before{
	content:'';
	display:block;
	height:5px;
	width:2px;
	background-color:black;
	position:absolute;
	top:-5px;
	left:50%;
	margin-left:-1px;
}


#evenDoeltreffendAlsTramadol .vertical{
	left: -85px;
}
#evenDoeltreffendAlsTramadol .vertical num{
	display: -webkit-box;
	text-align: right;
	height: 50%;
	-webkit-box-align: center;
	width: 74px;
	-webkit-box-pack: end;
}
#evenDoeltreffendAlsTramadol .bargroup{
	position:absolute;
	left:0;
	height:100%;
	list-style:none
}
#evenDoeltreffendAlsTramadol .bargroup li{
	height:50%;
	padding:0;
	margin:0;
	position:relative;
}
#evenDoeltreffendAlsTramadol bar{
	position:absolute;
	top:13px;
	height:34px;
	background:#868889;
}
#evenDoeltreffendAlsTramadol .bargroup li:nth-child(2) bar{
	background:#f29400;
}
#evenDoeltreffendAlsTramadol bar num{
	font-weight:bold;
	height:100%;
	line-height:34px;
	font-size: 12px;
	position: absolute;
	right: -40px;
}
#evenDoeltreffendAlsTramadol .notice{
	position: absolute;
	font-size: 11px;
	width: 260px;
	bottom: -60px;
	left: 40px;
}

#betereGiTolerantieDanTramadol{
	width:464px;
	height:293px;
	margin-left:90px;
}
#betereGiTolerantieDanTramadol .vertical{
	width:30px;
	left: -27px;
	top: -9px;
	bottom: -11px;
}
#betereGiTolerantieDanTramadol .vertical label{
	width: 293px;
	left: -320px;
}
#betereGiTolerantieDanTramadol .vertical num{
	width:20px;
	height:20px;
	line-height:20px;
}

#betereGiTolerantieDanTramadol .bargroup{
	width: 424px;
	height: 100%;
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: end;
	margin: 0 auto;
}
#betereGiTolerantieDanTramadol .bargroup li{
	position:relative;
	width:62px;
	float:left;
}
#betereGiTolerantieDanTramadol .bargroup li bar{
	width:31px;
}
#betereGiTolerantieDanTramadol .bargroup li bar:nth-of-type(1){
	left:0;
	background:#868889;
}
#betereGiTolerantieDanTramadol .bargroup li bar:nth-of-type(2){
	right:0;
	background:#f29400;
}
#betereGiTolerantieDanTramadol .bargroup li bar num{
	font-weight: bold;
	position: absolute;
	font-size: 12px;
	text-align: center;
	width: 100%;
	top: -20px;
}
#betereGiTolerantieDanTramadol .horizontal num{
	width:25%;
	text-align:center;
}
#betereGiTolerantieDanTramadol .legend{
	width:115px;
	right:-30px;
	top:30px;
	font-size:12px;
}
#betereGiTolerantieDanTramadol .legend li{
	text-align:left;
	position:relative;
}
#betereGiTolerantieDanTramadol .legend li::before{
	content:'';
	display:block;
	width:32px;
	height:9px;
	background:#868889;
	position:absolute;
		top:5px;
		left:-35px;
}
#betereGiTolerantieDanTramadol .legend li:last-of-type::before{
	background:#f29400;
}
#betereGiTolerantieDanTramadol .notice{
	left:-60px;
	bottom:-45px;
	font-size:14px;
}
