#slide71 .content {width: 635px; margin: 0 auto; padding: 87px 0 0;}
#slide71 .content h1 {margin: 0;}
#slide71 .content .warning {margin: 155px 0 0; background: url("../img/warning.png") no-repeat; padding: 0 0 0 60px; font-size: 22px; font-family: Frutiger;}
#slide71 .content .graph-wrapper {margin: 70px 0 0 40px; background: url("../img/graph-bg.png") left center no-repeat; width: 411px; height: 272px; position: relative; padding: 0 0 0 21px;}
#slide71 .content .graph-wrapper .title {font-family: Eurostile;}
#slide71 .content .graph-wrapper .graph {list-style: none;}
#slide71 .content .graph-wrapper .graph li {}