#up_4 table { 
	width: 612px; 
	font-family: Frutiger; 
	font-weight: bold; 
	color: #58585a; 
	font-size: 16px; 
	margin:0 auto;
	margin-top: 50px; 
}
#up_4 table td {
	border: 1px solid #58585a; 
	text-align: center; 
	height: 25px;
}
#up_4 table {
	border: 1px solid #58585a;
	border-width: 1px 1px 0px 0px; 
}
#up_4 table tr:last-child td:not([transparent]){
	border-bottom-width: 2px;
	background: #9c9e9f;
	color: white;
}
#up_4 table td[transparent]{
	border-width: 1px 1px 0px 0px;
}
#up_4 table td:first-child:not([transparent]) {
	border-left-width: 2px;
}
#up_4 table tr[light] td:not(:first-child){
	font-weight: normal;
}
#up_4 table tr:first-child td{
	height: 35px; 
	vertical-align: top; 
	padding-top: 5px;
}
#up_4 table tr:first-child td:first-child {
	height: 40px;
	vertical-align: middle;
	padding-top: 0px;
}
#up_4 .graph-wrapper{
	margin-top:130px;
}
#behoudtUEenVeiligheidsmarge{
	width:365px;
	height:182px;
	-webkit-box-align: center;
	border-width:1px;
}
#behoudtUEenVeiligheidsmarge scale{
	font-size:16px;
}
#behoudtUEenVeiligheidsmarge .bargroup{
	height: 152px;
	width: 100%;
	display:-webkit-box;
	-webkit-box-pack:justify;
	-webkit-box-orient:vertical;
}
#behoudtUEenVeiligheidsmarge .bargroup li{
	height:30px;
	width:1px;
}
#behoudtUEenVeiligheidsmarge bar{
	height: 30px;
	color: white;
	font-family: Eurostile;
	line-height: 30px;
	text-align: center;
	font-size: 22px;
}
#behoudtUEenVeiligheidsmarge li:nth-child(1) bar{
	background: #58585A;
	width: 233px;
	left: 9px;
}
#behoudtUEenVeiligheidsmarge li:nth-child(2) bar{
	background: #868889;
	width: 313px;
	left: 51px;
}
#behoudtUEenVeiligheidsmarge li:nth-child(3) bar{
	background: #ec7404;
	width: 355px;
	left: 9px;
}
#behoudtUEenVeiligheidsmarge .vertical{
	left: -90px;
top: 16px;
bottom: 14px;
}
#behoudtUEenVeiligheidsmarge .vertical num{
	color: #58585A;
}
#behoudtUEenVeiligheidsmarge .vertical num:nth-child(2){
	color: #868889;
}
#behoudtUEenVeiligheidsmarge .horizontal::before{
	content: attr(label);
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 25px;
}
#behoudtUEenVeiligheidsmarge .horizontal num::before{
	height:182px;
	content:'';
	display:block;
	width:1px;
	left:50%;
	position:absolute;
	top:-189px;
	background:#b1b3b4
}
#behoudtUEenVeiligheidsmarge .horizontal num:first-child::before{
	display:none;
}
#behoudtUEenVeiligheidsmarge .horizontal num::after{
	height:5px;
	content:'';
	display:block;
	width:1px;
	left:50%;
	position:absolute;
	top:-6px;
	background:#1a171b
}

#up_4 header.resume{
	background: #EC7404;
	border-radius: 10px;
	padding: 13px 35px;
	color: white;
	font-family: Eurostile;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	-webkit-box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
	margin-left: -42px;
	width: 577px;
}

#up_4 section{
	border: 2px solid transparent;
}

#up_4 graph{
	margin-top:25px;
}

