nav { display: block; position: absolute; top: 0px; left: 0px; width: 768px; height: 969px; background: rgba(255, 255, 255, 0.7); z-index: 10; }
nav.clear { background: transparent; }
nav.hide { z-index: 1; }
nav arrow { display: block; position: absolute; background: url('../../img/nav-arrows-sprite.png') no-repeat; }
/* slide up */
nav arrow:nth-of-type(1) { top: 20px; left: 50%; width: 100px; height: 80px; background-position: 0px 0px; margin: 0px 0px 0px -50px; }
/* slide right */
nav arrow:nth-of-type(2) { top: 50%; left: 650px; width: 100px; height: 85px; background-position: -100px 0px; margin: -42px 0px 0px 0px; }
/* slide down */
nav arrow:nth-of-type(3) { top: 890px; left: 50%; width: 100px; height: 80px; background-position: -109px -104px; margin: 0px 0px 0px -50px; }
/* slide left */
nav arrow:nth-of-type(4) { top: 50%; left: 10px; width: 100px; height: 95px; background-position: 0px -90px; margin: -47px 0px 0px 0px; }