menu { display: block; position: absolute; float: left; width: inherit; height: 50px; overflow: hidden; padding-left: 15px; z-index: 1;}
menu::after { content: ''; display: block; position: absolute; top:42px; left: -10px; width: 788px; height: 8px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba(3,3,3,0.3)), color-stop(100%,rgba(0,0,0,0.3))); pointer-events: none;z-index: -1;}
menu scroll > li { display: -webkit-box; float: left; width: 185px; height: 55px; -webkit-box-align: center; -webkit-box-pack: start; background: #EB7405; color: white; -webkit-transform: skew(0deg, 4deg); 
	margin-top: 10px; -webkit-box-shadow: 0px -3px 6px rgba(0,0,0,0.4); }
menu scroll > li span { display: block; -webkit-transform: skew(0deg, -4deg) translate(9px, 4px); font-family: 'Frutiger'; font-size: 14px; font-weight: bold; width: 100px; }
menu scroll > li[role="home"] { width: 15px; overflow: hidden; font-size: 0px; background: url('../../img/home.png') no-repeat center 15px; }
menu scroll > li::after{content: '';display: block;width: 185px;height:8px;-webkit-transform: skew(0deg, -4deg);position: absolute;bottom:15px;left: 0;z-index: 2;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba(3,3,3,0.3)), color-stop(100%,rgba(0,0,0,0.3)));}
menu scroll > li.active::after{background: transparent;} 
/* customization */
menu scroll > li.active { background: white; color: #eb7405; }
menu scroll > li.active[role="home"] { background: url('../../img/home.png') no-repeat center -21px, #00a651; }
chapter { position: absolute; top: 50px; height: 974px; }
slide { height: 974px; }

menu.hide { display: none; }