#slide-1_2 h1{

    color:#434343;
    margin-top:110px;
    margin-left:160px;
}

#slide-1_2 .boxes{
    background: url('../img/boxes.png') no-repeat;
    width:504px;
    height:392px;
    margin-top:-30px;
    margin-left:130px;
    position: relative;
}

#slide-1_2 .tab20{
    background: url('../img/tab-20.png') no-repeat;
    width:93px;
    height:93px;
    position: absolute;
    top: 100px;
    left: 430px;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

#slide-1_2 .tab60{
    background: url('../img/tab-60.png') no-repeat;
    width:126px;
    height:126px;
    position: absolute;
    top: 0;
    left: 0;
}

#slide-1_2 .yellowRect{
    color: white;
    font-family: 'Eurostile';
    font-size: 33px;
    font-weight: bold;
    background-color: #FEC216;
    width: 220px;
    padding: 20px;
    -webkit-border-radius: 15px;
    margin-left: 400px;
    -webkit-box-shadow: 1px 1px 5px 1px #AAA;
    text-align: center;
    -webkit-transform: rotate(20deg);
    margin-top: -85px;
}

#slide-1_2 p{
    text-align: center;
    font-family:'Eurostile';
    font-size:22px;
    font-weight: bold;
    color:#434343;
    margin-top:50px;
}

#slide-1_2 .bottomRect{
    margin-left: 270px;
    margin-top:20px;
    width:190px;
    height: 75px;
    -webkit-box-shadow:1px 1px 5px 1px #ccc;
    -webkit-border-radius:10px;
    background: url('../img/bottom-rect.png') 20px 1px no-repeat,rgba(255,255,255,0.5);
}