#up_3 .graph-wrapper{
	margin-top:193px;
}
#up_3 span{font-family:Verdana;}
#up_3 .graph-wrapper header{
	top: -26px;
	width: 490px;
}
#meerPijnverlichtingBijPatientenMetPijn{
	width:348px;
	height:280px;
}
#meerPijnverlichtingBijPatientenMetPijn .vertical{
	left: -27px;
	width: 20px;
	font-size:14px;
	top: -9px;
	bottom: -12px;
}
#meerPijnverlichtingBijPatientenMetPijn .vertical label{
	width: 280px;
	font-size: 16px;
	left: -340px;
}
#meerPijnverlichtingBijPatientenMetPijn .horizontal num{
	width: 50%;
	font-size: 18px;
}
#meerPijnverlichtingBijPatientenMetPijn .bargroup li{
	margin:0 38px;
	font-size: 18px;
	width:71px;
	display:block;
	height: 1px;
}
#meerPijnverlichtingBijPatientenMetPijn .bargroup{
	width:294px;
	margin:0 auto;
}
#meerPijnverlichtingBijPatientenMetPijn bar{
	width:inherit;
	background:#f29400;
}
#meerPijnverlichtingBijPatientenMetPijn li:nth-child(1) bar{height:230px}
#meerPijnverlichtingBijPatientenMetPijn li:nth-child(2) bar{height:179px}
#meerPijnverlichtingBijPatientenMetPijn bar num{
	width: 100%;
	text-align: center;
	top: -30px;
}
#up_3>ul{
	font-family:Eurostile;
	margin-left: 85px;
	margin-right: 110px;
	margin-top: 50px;
	list-style: disc;
}
#up_3>ul li{
	margin-bottom: 5px;
}