#slide-5_1 table {
	margin:0 auto;
    margin-top:120px;
    width:700px;
	height:320px;
	border:2px solid #ed7403;
	border-radius: 15px;
}

#slide-5_1 table thead tr td {
	vertical-align: middle;
	color:#000;
	font-family: 'Frutiger';
	font-size:12px;
	font-weight: bold;
	text-align: center;
}

#slide-5_1 table thead td, #slide-5_1 table tbody td{
	border-bottom:1px solid #ed7403;
	width: 175px;
	height:80px;
}

#slide-5_1 table tbody tr:last-of-type td{
	border-bottom:1px solid transparent;
}

#slide-5_1 table td{
	border-right: 1px solid #f7cea5;
}

#slide-5_1 table td:last-of-type{
	border-right: 1px solid transparent;
}

#slide-5_1 table tbody tr td:nth-of-type(1){
    padding-left:25px;
    font-size:18px;
    font-family: 'Eurostile';
    color:#000;
}

#slide-5_1 input[type="checkbox"]{
    -webkit-appearance:none;
    width: 175px;
    height: 85px;
	pointer-events:none;
	border:none;
}

#slide-5_1 input[type="checkbox"]:checked{
    background: url('../img/checkbox.png') 70px 18px no-repeat;
}